@font-face {
    font-family: 'black_ops_oneregular';
    src: url('../Polices/blackopsone-regular-webfont.woff2') format('woff2'),
    url('../Polices/blackopsone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

main{
    min-height: calc(100vh - 92px);
}

h1{
    font-family: black_ops_oneregular;
    padding: 2rem;
    text-align: center;
    font-size: 70px;
}

h2{
    font-family: black_ops_oneregular;
    text-align: center;
    padding: 2rem;
    font-size: 40px;
}

ul{
    list-style: none;
}

.display-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    font-size: 20px;
    background-color: black;
    position: fixed;
}

.nav-ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* home */

.bio-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.bio-img{
    height: 70%;
    width: 50%;
    padding-right: 2rem;
    border-radius: 10%;
}

.bio-texte{
    width: 50%;
    word-wrap: break-word;
}

/* project */

.project-container{
    width: 80%;
}

.project-cart{
    border: 2px solid black;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
}

.project-bold{
    font-weight: bold;
}

.project-link{
    display: flex;
    justify-content: space-around;
}

.cv-pdf{
    min-height: calc(100vh - 92px);
}

/* show-project */

.show-project-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.show-project{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}

.show-project-img{
    height: 40rem;
    width: 30%;
    margin-right: 2rem;
    box-shadow: 12px 12px 2px 1px grey;
}

.show-project-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    padding: 4rem;
    background: no-repeat center url("../Images/steel.jpg");
    background-size: cover;
    font-size: 25px;
    box-shadow: 12px 12px 2px 1px grey;
}

/*show img */

.img-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}