* {
    margin: 0;
    padding: 0;
}

main{
    min-height: calc(100vh - 92px);
}

h1{
    padding: 2rem;
    text-align: center;
}

.display-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* home */

.bio-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.bio-img{
    height: 70%;
    width: 50%;
    padding-right: 2rem;
    border-radius: 10%;
}

.bio-texte{
    width: 50%;
    word-wrap: break-word;
}

/* project */

.project-container{
    width: 80%;
}