<header>
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-ul">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('home') }}">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('project') }}">Projet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('cv') }}">CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_login') }}">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
</header>