{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <main>
        <div class="display-center">
            <div class="img-container">
                <h1>{{ photo.name }}</h1>
                <img src="../../uploads/img/{{ photo.img }}">
            </div>
        </div>
    </main>
{% endblock %}